code {
  background-color: lightgrey;
  color: blue;
}

h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid black;
}

p {
  color: red;
}

h2 {
  color: green;
}

/*css-question {
}

css-example { 
}
  

js-question {
  
}*/

